<section class="user-info-container">
  <%= link_to "Back", user_path(@user), class: "back-link" %>

  <section class="user-item">
    <%= link_to user_path(@user) do %>
      <div class="profile-photo-container">
        <%= image_tag(@user.photo.present? ? @user.photo : 'https://source.unsplash.com/featured/300x203', alt: @user.name, class: "profile-photo") %>
      </div>
      <div class="user-details-container">
        <h2 class="user-name"><%= @user.name %></h2>
        <h4 class="user-posts">Number of posts: <%= @user.post_counter %></h4>
      </div>
    <% end %>
  </section>

  <% @posts.each_with_index do |post, index| %>
    <%= link_to user_post_path(@user, post) do %>
      <div class="simple-post">
        <h4><%= post.title %> #<%= index + 1 %></h4>
        <p><%= post.text %></p>
        <div class="comments-likes">
          <span>Comments: <%= post.comments_counter %></span>
          <span>Likes: <%= post.likes_counter %></span>
        </div>
      </div>
    <% end %>

    <div class="five-recent-comments-container">
      <% post.five_most_recent_comments.each do |comment| %>
        <span><%= comment.user.name %>: <%= comment.text %></span>
      <% end %>
    </div>
  <% end %>

  <div>
    <button>Pagination</button>
  </div>
</section>
